{
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react$",
    "^react/(.*)$",
    "^@?\\w",
    "^~/components/ui/(.*)$",
    "^~/components/(.*)$",
    "^~/hooks/(.*)$",
    "^~/stores/(.*)$",
    "^~/services/(.*)$",
    "^~/lib/(.*)$",
    "^~/types/(.*)$",
    "^~/model/(.*)$",
    "^~/utils/(.*)$",
    "^~/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}